<% if current_user %>
  <h3><%= current_user.email %></h3>
<% end %>
<% if current_user.tickets.empty? %>
<p><%= "You currently do not have any tickets" %></p>
<a href="<%= root_path %>">Create a new ticket!</a>
<% else %>
<ul>
<% current_user.tickets.each do |ticket| %>
  <li><%= render partial: "tickets/single_ticket", locals: {ticket: ticket} %></li>
<% end %>
</ul>
<% end %>
