<!-- This whole page is just for testing the geocoding thing. It won't be part of hte final project. See our wireframe for reference. (it only has two pages on it.) -->

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>
